POSTGRES_HOST:
POSTGRES_PORT:
POSTGRES_DB:
POSTGRES_USER: 
POSTGRES_PASSWORD:
JWT_SECRET:
SUPERADMIN_EMAIL:
SUPERADMIN_PASSWORD:
MP_ACCESS_TOKEN:
MP_PUBLIC_KEY:
FRONTEND_URL:
MP_NOTIFICATION_URL:
MP_WEBHOOK_SECRET:
RESEND_API_KEY:
